<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="asceapps.weatheria">
	<!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
		 Google Maps Android API, but you must specify either coarse or fine
		 location permissions for the "MyLocation" functionality. -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<!--required for all google apis-->
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_api_key"/>
		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<receiver
			android:name=".ui.widget.AppWidget"
			android:exported="true">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
				<action android:name="${applicationId}.action_update_widget_data"/>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_info"/>
		</receiver>
		<!-- to customize work manager initialization -->
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			tools:node="remove"/>
	</application>
</manifest>